name: Go
on:
  pull_request: {}
  push:
    branches:
      - main
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
  Go-Unit-Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.25.x', '1.24.x', '1.23.x', '1.22.x', '1.21.x' ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - run: go version
      - run: go test ./... -v -coverprofile=coverage.out -covermode=atomic
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
